*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color:rgb(231, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardholder{
    width: 700px;
    height: 450px;
    display: flex;
    box-shadow: rgba(0,0,0, 0.1)0px 4px 12px;
}
.normalcard{
width: 50%;
height: 100%;
background-color:white;



}
.normalcard h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 20px;
}
.normalcard p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
}

.input-field{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 7px;
    padding: 5px;
    background-color:#E8F0FE;
    outline: none;
    border: none;

}
.label{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;

}
.input-group{
    margin-top: 20px;
    
}

.login-button{
    width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 7px;
    padding: 5px;
    background-color:green;
    color:white;
    outline: none;
    border: none;
    font-weight: bold;

}

.imgcard{
width: 50%;
height: 100%;

}
.imgcard img{
width: 100%;
height: 100%;
object-fit: cover;
}


@media (min-width:300px) and (max-width:425px) {
    .cardholder{
        width: 100%;
        height: auto;
       display: flex;
        flex-direction: column;
        
        
    }
    .imgcard{
        width: 100%;
        height: auto;
       
      
    }

    .imgcard{
        width: 100%;
        height: auto;
    
    }
   .imgcard img{
    width: 100%;
    height: 100%;
    

   }

   .normalcard{
    width: 100%;
    
   }

   .input-field{
    width: 90%;
    
    height: auto;
   } 
}


@media (min-width:425px) and (max-width:740px) {
    .cardholder{
        width: 100%;
        height: auto;
       display: flex;
        flex-direction: column;
        
        
    }
    .imgcard{
        width: 100%;
        height: auto;
       
      
    }

    .imgcard{
        width: 100%;
        height: auto;
    
    }
   .imgcard img{
    width: 100%;
    height: 100%;
    

   }

   .normalcard{
    width: 100%;
    
   }

   .input-field{
    width: 90%;
    
    height: auto;
   } 
}