*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: center;
}

.holder{
    width: 90%;
    height: 600px;
    background-color:  white;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    

}

.Discover{
width: 100%;
height: 40px;
color:black;
padding: 10px;
justify-content: center;
align-items: center;
display: flex;
margin-bottom: 50px;


}
.cardholder{
   display: flex;
   flex-direction:row;

   
}



.card {
  width: 350px;
  height: 200px;
  background-color: white;
  box-shadow: inset;
  border-radius: 10px;


}
.card1{
    width: 100%;
    height: 70%;
    background-color: grey;
    border-radius: 10px;
}
.card1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}
.blessing{
    font-size: 20px;
    display: flex;
}
.senior{
    width: 60px;
    height: 45px;
    border-radius: 50%;
    background-color: green;
    margin: 5px;
}
.senior img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.junior{
    font-size: 11px;
    margin: 10px;

}
